Lenguajes/Ejercicios/Unidad4/Ejercicio24/ejercicio24.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="prices">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="price" maxOccurs="unbounded" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="priceType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="3"></xs:totalDigits>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>