Lenguajes/Ejercicios/UD04-Validating XML documents/XSD_pruebas/prueba1/ejemplo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="marcadores">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="marcador" maxOccurs="1" type="xs:string" />
                <xs:element name="veces" minOccurs="0" type="xs:integer"/>
                <xs:element name="tiempo_seg" maxOccurs="4" type="xs:double" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>